.container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: 6rem;
  place-items: center;
}

.container > .logo {
  height: 5rem;
}

.container > .menu {
  position: absolute;
  right: 10%;
  grid-column: 3/4;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.menu > .stripe {
  background-color: white;
  width: 3rem;
  height: 0.18rem;
  border-radius: 1rem;
}
